body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFF
}

/* Обнулення дефолтних маржин */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
    margin-bottom: 0;
}


/* підкреслення тексту */
a {
    text-decoration: none;
    color: currentColor;
}

button {
    cursor: pointer;
}
/* нижній паддінг 4 пікселя */
img {
    display: block;
}

/* нумерація списку */

ul {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.container {
    max-width: 320px;
    padding-left: 16px;
    padding-right: 16px;
    margin: 0 auto;
    outline: 2px solid red;
}

/** --------------------HEADER------------------- */

.header {
    /* padding-top: 24px;
    padding-bottom: 24px; */
    border-bottom: 1px solid #E7E9FC;
    box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 2px 1px 0px rgba(46, 47, 66, 0.08);
}

.header-container {
    display: flex;
    align-items: center;
}

.header-navigation {
    display: flex;
    align-items: center;
    flex-grow: 1;
    margin-right: auto;
}

.header-logo {
    color: #4D5AE5;
    font-family: Raleway, sans-serif;
    font-size: 1.125rem;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03375rem;
    text-transform: uppercase;
    /* margin-right: 76px;
    padding-top: 24px;
    padding-bottom: 24px; */
    padding-top: 17.5px;
    padding-bottom: 17.5px;
}

.header-logo-text {
    color: #2E2F42;
}

.header-menu-list {
    display: flex;
    gap: 40px;
    display: none;
}

.header-menu-item {

}

.header-menu-link {
    color: #2E2F42;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02rem;
    padding-top: 24px;
    padding-bottom: 24px;
}

.header-menu-link:hover, 
.header-menu-link:focus {
    color: #404BBF;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.current {
    position: relative;
    color: #404BBF;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* .current::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 100%;
    height: 4px;
    background-color: #404BBF;
    border-radius: 2px;
    border-bottom: 4px;
} */

.address {
    font-style: normal;
}

.address-menu-list {
    display: flex;
    gap: 40px;
    display: none;
}

.address-menu-item {
}

.address-menu-link {
    color: #434455;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02rem;
    /* padding-top: 24px;
    padding-bottom: 24px; */
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address-menu-link:hover, 
.address-menu-link:focus{
    color: #404BBF;
}

.menu-mob-btn {
    /* position: absolute; */
    /* margin-left: 0; */
    /* right: 10px; */
    /* top: 16px; */
    width: 24px;
    height: 24px;
    /* display: flex; */
    /* flex-grow: 0; */
    /* justify-content: center;
    align-items: center; */
    background-color: #FFFFFF;
    border: none;
    padding: 0;
    cursor: pointer;
    /* transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1); */
}

/* .menu-mob-btn:hover,
.menu-mob-btn:focus {
    background-color: #404bbf;
    border: none;
    fill: #ffffff;
} */

.menu-mob-btn-icon {
    fill: #2F2F37;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mob-menu {
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #F4F4FD;
    padding: 24px 24px 40px 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: auto;
    opacity: 0;
    visibility: hidden;
    pointer-events: auto;
}

.menu-mob-btn-close {
    display: flex;
    margin-left: auto;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    justify-content: center;
    align-items: center;
    background-color: #F4F4FD;
    border: 1px solid #0000001a;;
    /* border: 1px solid #2E2F42 */
    /* border: 1px; */
    opacity: 0.1px;
    margin-bottom: 24px;
}

.menu-mob-btn-close:hover,
.menu-mob-btn-close:focus {
    background-color: #404bbf;
    border: none;
    fill: #ffffff;
}

.modal-btn-icon {
    fill: #2E2F42;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-mob-list {
    margin-bottom: 100px;
    /* margin-bottom: 168px; */
}

.menu-mob-item:not(:last-child){
    margin-bottom: 40px;
}

.menu-mob-link {
    color: #2E2F42;
    font-family: Roboto;
    font-size: 2.25rem;
    font-weight: 700;
    line-height: 1.11;
    /* 111.111% */
    letter-spacing: 0.045rem;
    text-transform: capitalize;

}

.current {
    /* position: relative; */
    color: #404BBF;
    /* transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1); */
}

.mob-address-menu-list {
    margin-bottom: 20px;
    /* margin-bottom: 48px; */
}

.mob-address-menu-item:not(:last-child) {
    margin-bottom: 24px;
}

.mob-address-menu-link-blue {
    color: #4D5AE5;
    font-size: 1.25rem;
    font-weight: 500;
    line-height: 1.2;
    /* 120% */
    letter-spacing: 0.025rem;
}

.mob-address-menu-link {
    color: #434455;
    font-size: 1.25rem;
    font-weight: 500;
    line-height: 1.2;
    /* 120% */
    letter-spacing: 0.025rem;
}

.mob-menu-social-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 16px;
}

.mob-menu-social-item {
    width: 40px;
    height: 40px;
}

.mob-menu-social-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    /* fill: #F4F4FD; */
    background-color: #4D5AE5;
    border-radius: 50%;
}

.mob-menu-social-icon {
        fill: #F4F4FD;
}

.mob-menu-social-item :hover,
.fmob-menu-social-item :focus {
    background-color: #31D0AA;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


/** --------------------------------------------- */
/** --------------------SOLUTIONS HEADER------------------- */

.solutions-header {
    background-color: #2E2F42;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7),rgba(46, 47, 66, 0.7)), url(../images/solutions-header-bg-mob.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    /* padding: 188px 0; */
    padding: 72px 0px 72px 0px;
    /* max-width: 1440px; */
    min-height: 432px;
    margin: 0 auto;
}

@media (min-device-pixel-ratio: 2), 
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
.solutions-header {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/solutions-header-bg-mob-2x.jpg);    
}
}

.solutions-title {
    color: #FFF;
    text-align: center;
    font-size: 2.25rem;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.045rem;
    text-transform: capitalize;
    /* max-width: 496px; */
    max-width: 288px;
    margin: 0 auto;
}

.solutions-button {
    color: #FFF;
    font-family: inherit;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04rem;
    cursor: pointer;
    background-color: #4D5AE5;
    padding: 16px 32px;
    border-radius: 4px;
    border: none;
    display: block;
    margin: 0 auto;
    min-width: 169px;
    height: 56px;
    /* margin-top: 48px; */
    margin-top: 72px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.solutions-button:hover,
.solutions-button:focus {
    background-color: #404BBF;
    color: #FFF;
}



/** --------------------------------------------- */

/** --------------------SOLUTIONS------------------- */

.solutions {
    padding-top: 96px;
    padding-bottom: 96px;
}

.solutions-menu {
    display: flex;
    flex-wrap: wrap;
    gap: 72px;
}

.solutions-item {
    /* width: calc((100% - 24px * 3)/4); */
    width: 100%;
    position: relative;
}

.box {
    width: 264px;
    height: 112px;
    border-radius: 4px;
    border: 1px solid #8E8F99;
    background-color: #F4F4FD;
    margin-bottom: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    display: none;
}

.solutions-icon {
}

.solutions-menu-item {
    color: #2E2F42;
    font-size: 2.25rem;
    font-weight: 700;
    line-height: 1.1;
    letter-spacing: 0.045rem;
    margin-bottom: 8px;
    text-align: center;
    text-transform: capitalize;
}

.solutions-menu-item-text {
    color: #434455;
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
    /* 150% */
    letter-spacing: 0.02rem;
}

/** --------------------------------------------- */

/** --------------------TEAM------------------- */

.team {
    background-color: #F4F4FD;
    padding-top: 96px;
    padding-bottom: 96px;
}

.team-title {
    color: #2E2F42;
    text-align: center;
    font-size: 2.25rem;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.045rem;
    text-transform: capitalize;
    min-width: 162px;
    margin-bottom: 72px;
}

.team-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 72px 24px;
}

.team-item {
    background-color: #FFF;
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 2px 1px 0px #2E2F4214, 0px 1px 1px 0px #2E2F4229, 0px 1px 6px 0px #2E2F4214;
    /* width: 100%; */
}

.team-img {
    display: block;
    max-width: 100%;
    height: auto;
}

.team-name {
    color: #2E2F42;
    text-align: center;
    font-size: 1.25rem;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.025rem;
    margin-bottom: 8px;
}

.team-job {
    color: #434455;
    text-align: center;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02rem;
    margin-bottom: 8px;
}

.team-member {
    padding: 32px 0;
}

.team-social-list {
    display: flex;
    justify-content: center;
    gap: 24px;
}

.team-social-item {
    width: 40px;
    height: 40px;
    /* transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1); */
}

.team-social-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: #4D5AE5;
    border-radius: 50%;
}

.team-social-icon {
    fill: #F4F4FD;
}

.team-social-item :hover,
.team-social-item :focus {
    background-color: #404BBF;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/** --------------------------------------------- */

/** --------------------PORTFOLIO------------------- */

.portfolio {
    padding-top: 96px;
    padding-bottom: 96px;
}

.portfolio-title {
    color: #2E2F42;
    text-align: center;
    font-size: 2.25rem;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.045rem;
    text-transform: capitalize;
    margin-bottom: 72px;
}

.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    gap: 48px;
}

.portfolio-item {
    /* width: calc((100% - 24px * 2)/3); */
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item:hover {
    box-shadow: 0px 2px 1px 0px #2E2F4214, 0px 1px 1px 0px #2E2F4229, 0px 1px 6px 0px #2E2F4214;
}

.portfolio-item:hover .portfolio-cover-text {
    transform: translateY(0%);
}

.portfolio-img {
    display: block;
    max-width: 100%;
    height: auto;
}

.portfolio-cover-wrap {
    position: relative;
    overflow: hidden;
}

.portfolio-cover-text {
    color: #F4F4FD;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: 0.02rem;

    position: absolute;
    top: 0;
    padding: 40px 32px;
    display: flex;
    align-items: center;
    background-color: #4D5AE5;
    width: 100%;
    height: 100%;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

.portfolio-item-technology {
    color: #2E2F42;
    font-size: 1.25rem;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.025rem;
    margin-bottom: 8px;
}

.portfolio-item-technology-text {
    color: #434455;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02rem;
}

.frame {
    border: 1px solid #E7E9FC;
    border-top: none;
    padding: 32px 16px;
}
/** --------------------------------------------- */

/** --------------------FOOTER------------------- */

.footer {
    background-color: #2E2F42;
    padding-top: 97.5px;
    padding-bottom: 96px;
}

.footer-container {
    /* display: flex; */
    /* align-items: baseline; */
    /* gap: 120px; */
}

.footer-first {
    /* width: 264px; */
    width: 288px;
    height: 112px;
    margin-bottom: 72px;
    /* margin-right: 120px */
}


.footer-logo {
    color: #4D5AE5;
    font-family: Raleway, sans-serif;
    font-size: 1.125rem;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03375rem;
    text-transform: uppercase;
    display: inline-block;
    margin-bottom: 17.5px;
    width: 100%;
    text-align: center;
    /* padding-left: 102px;
    padding-right: 103px; */
}

.footer-logo-text {
    color: #F4F4FD;
}

.footer-text {
    color: #F4F4FD;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02rem;
    /* max-width: 264px; */
    max-width: 288px;
    /* padding-left: 16px;
    padding-right: 16px; */
}

.social-media {
    /* width: 208px;
    height: 80px; */
}

.footer-social {
    color: #FFFFFF;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02rem;
    text-align: center;
    margin-bottom: 16px;
}

.footer-social-list {
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    justify-content: center;
    gap: 16px;
}

.footer-social-item {
    width: 40px;
    height: 40px;
    /* transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1); */
}

.footer-social-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    /* fill: #F4F4FD; */
    background-color: #4D5AE5;
    border-radius: 50%;
}

.footer-social-icon {
    fill: #F4F4FD;
}

.subscribe {
    margin-top: 72px;
    /* margin-left: 80px; */
    /* display: flex; */
    /* justify-content: space-between; */
}

.subscribe-title {
    color: rgba(255, 255, 255, 1);
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.02em;
    /* text-align: left; */
    text-align: center;
    /* width: 75px;  */
    height: 24px;
    margin-bottom: 16px; 
}

.subscribe-form {
    /* display: flex; */
    gap: 24px;
}

.subscribe-label {}

.subscribe-input {
    /* width: 264px; */
    width: 288px;
    height: 40px; 
    border-radius: 4px; 
    border: 1px solid rgba(255, 255, 255, 1);
    background-color: transparent;
    /* box-shadow: 0px 4px 4px 0px #00000026; */
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    padding-left: 16px;
    color: rgba(255, 255, 255, 1);
    outline: none;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.5;
    /* 200% */
    letter-spacing: 0.04em;
    /* font-family: Roboto; */
    margin-bottom: 16px;
}


.subscribe-input::placeholder {
    color: #FFF;
}

.subscribe-button {
    min-width: 165px;
    height: 40px;
    padding: 8px 24px;
    border-radius: 4px;
    background-color: #4D5AE5;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    /* gap: 16px; */
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    color: #FFF;
    cursor: pointer;
    text-align: center;
    font-family: Roboto, sans-serif;
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5rem;
    /* 150% */
    letter-spacing: 0.04rem;
    margin: 0 auto;
}

.subscribe-button:hover,
.subscribe-button:focus {
    background-color: #404BBF;
}

.subscribe-button-icon {
    fill: #FFFFFF;
    margin-left: 16px;
}

.footer-social-item :hover,
.footer-social-item :focus {
    background-color: #31D0AA;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/** --------------------------------------------- */

/** --------------------MODAL------------------- */


.backdrop {
    position: fixed;
    /* width: 1440px; */
    /* height: 676px; */
    width: 100%;
    height: 100%;
    background: rgba(46, 47, 66, 0.4);
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
    width: 288px;
    min-height: 623px;
    /* width: 408px;
    min-height: 584px; */
    background-color: #FCFCFC;
    border-radius: 4px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 72px 16px 24px 16px;

    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 1px 2px 0px rgba(0, 0, 0, 0.2);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn {
    position: absolute;
    right: 24px;
    top: 24px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(231, 233, 252, 1);
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn:hover,
.modal-btn:focus {
    background-color: #404bbf;
    border: none;
    fill: #ffffff;
}

.modal-btn-icon {
    /* fill: transparent; */
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-title {
    color: #2E2F42;
    text-align: center;
    font-family: Roboto;
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02rem;
    max-width: 360px;
    margin-bottom: 16px;
}

.modal-form {}

.modal-input {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    padding-left: 38px;
    /* border-color: inherit; */
    outline: transparent;
    background-color: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-field-comment {
    margin-bottom: 16px;
}

.modal-input:focus {
    border-color: rgba(77, 90, 229, 1);
}

.modal-input:focus + .modal-icon {
    fill: rgba(77, 90, 229, 1);
}

.modal-icon {
    fill: #2E2F42;
    /* stroke: #2E2F42; */
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 16px;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input-icon {
    position: relative;
}

.modal-field {
    margin-bottom: 8px;
}

.modal-label {
    display: block;
    color: #8E8F99;
    font-family: Roboto;
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.17;
    /* 116.667% */
    letter-spacing: 0.03rem;
    margin-bottom: 4px;
}


.modal-user-text {
    width: 100%;
    height: 120px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    padding: 8px 16px;
    /* border-color: inherit; */
    background-color: transparent;
    outline: transparent;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    resize: none;
    font-size: 0.75rem;

    color: rgba(46, 47, 66, 0.40);
    font-family: Roboto;
    font-size: 0.75rem;
    line-height: 1.17;
    /* 116.667% */
    letter-spacing: 0.04em;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-field-checkbox {
    margin-bottom: 24px;}


.modal-user-text:focus {
    border-color: rgba(77, 90, 229, 1);
}

.modal-user-text ::placeholder {
}

.check-input {}

.check-text {
    color: #8E8F99;
    font-family: Roboto;
    font-size: 0.75rem;
    font-style: normal;
        font-weight: 400;
    line-height: 1.17;
    /* 116.667% */
    letter-spacing: 0.03rem;
    /* display: flex; */
    align-items: center;
    justify-content: center;
}

.span {
}

.check-text a {
    color: #4D5AE5;
    font-family: Roboto;
    font-size: 0.75rem;
    line-height: 1rem;
    letter-spacing: 0.03rem;
    text-decoration-line: underline;
    margin-left: 4px;
}

.check-text span {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 16px; 
    height: 16px; 
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px; 
    margin-right: 8px;
    fill: transparent;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-check-icon {
}

.check-input:checked + .check-text span {
    background-color: rgba(64, 75, 191, 1);
    border: none;
    fill: rgba(244, 244, 253, 1);
}

.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.link-pp {}

.modal-button {
    color: #FFF;
    font-family: Roboto, sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: center;
    cursor: pointer;
    background-color: #4D5AE5;
    padding: 16px 32px;
    border-radius: 4px;
    border: none;
    display: block;
    margin: 0 auto;
    min-width: 169px;
    height: 56px;
    /* margin-top: 24px; */
    margin-bottom: 24px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-button:hover,
.modal-button:focus {
    background-color: #404BBF;
    color: #FFF;
}

/** --------------------------------------------- */

/** --------------------MEDIA------------------- */

@media screen and (min-width: 320px) {
}

@media screen and (min-width: 768px) {
.container {
    max-width: 768px;
    padding-left: 16px;
    padding-right: 16px;
    }

    /* .made .container {
        max-width: 1044px;
    } */

.header-container {
    max-height: 72px;
        }

.header-logo {
    margin-right: 120px;
    padding-top: 24px;
    padding-bottom: 24px;
}

.header-menu-list {
    display: flex;
    gap: 40px;
    /* display: block; */
}

.current::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 100%;
    height: 4px;
    background-color: #404BBF;
    border-radius: 2px;
    border-bottom: 4px;
}

.address-menu-list {
    display:flex;
    flex-direction: column;
    gap: 12px;
    /* display: block; */
}

.address {
    padding-top: 16px;
    padding-bottom: 16px;
    gap: 12px;
}

.address-menu-link {
    font-size: 0.75rem;
    line-height: 1.17;
    letter-spacing: 0.03rem;
}

.menu-mob-btn {
    display: none;
}

.mob-menu {
    display: none;
}

.solutions-item {
    width: calc((100% - 24px)/2);
}

.solutions-menu {
    gap: 72px 24px;
}

.solutions-menu-item {
    text-align: left;
}

.portfolio-list {
    gap: 72px 24px;
}

.portfolio-item {
    width: calc((100% - 24px)/2);
    /* gap: 72px 24px; */
    /* width: 100%; */
}

.solutions-header {
    padding: 112px 0;
    min-height: 436px;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7),rgba(46, 47, 66, 0.7)), url(../images/solutions-header-bg-tab.jpg);
}

@media (min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
    .solutions-header {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/solutions-header-bg-tab-2x.jpg);
    }
}

.solutions-title {
    text-align: center;
    font-size: 3.5rem;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 0.07rem;
    width: 496px;
    margin: 0 auto;
    text-transform: initial;
    max-width: 768px;
    /* height: 120px; */
}

.solutions-button {
    margin-top: 36px;
}

.footer-container {
    display: flex;
    align-items: baseline;
    /* gap: 120px; */
    flex-direction: row;
    flex-wrap: wrap;
    gap: 72px 24px;
    max-width: 528px;
    /* margin-left: 108px; */
}

.footer-first {
    width: 264px;
    margin-bottom: 0;
    /* margin-right: 24px */
}

.footer-logo {
    text-align: left;
}

.footer-text {
    max-width: 264px;
}

.social-media {
    width: 208px;
    height: 80px;
}

.footer-social {
    text-align: left;
}

.subscribe {
    margin-top: 0;
    /* display: flex; */
    justify-content: space-between;
}

.subscribe-title {
    text-align: left;
}

.subscribe-form {
    display: flex;
    gap: 24px;
}

.subscribe-input {
    width: 264px;
}


.modal {
    width: 408px;
    min-height: 584px;
    top: 45%;
    padding: 72px 24px 24px 24px;
}

}

@media screen and (min-width: 1155px) {
    .container {
    max-width: 1155px;
    padding-left: 15px;
    padding-right: 15px;
    }

.header-logo {
    margin-right: 76px;
    padding-top: 24px;
    padding-bottom: 24px;
}

.header-menu-list {
    display: flex;
    gap: 40px;
    /* display: block; */
}

.address-menu-list {
    display: flex;
    flex-direction: row;
    gap: 40px;
    /* display: block; */
}

.address-menu-link {
    font-size: 1rem;
    line-height: 1.5;
    letter-spacing: 0.02rem;
}

.address {
    padding-top: 24px;
    padding-bottom: 24px;
    gap: 12px;
}

.menu-mob-btn {
    display: none;
}

.mob-menu {
    display: none;
}

.solutions-item {
    width: calc((100% - 24px * 3)/4);
}

.solutions-menu {
    gap: 24px;
    }

.box {
    display: inline-flex;
    }
    
.solutions-menu-item {
    font-size: 1.25rem;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.025rem;
    }
    
.solutions-menu-item-text {
    /* color: #434455;
    font-size: 1rem; */
    font-weight: 400;
    }

.team-list {
    gap: 24px;
}

.team-item {
    width: calc((100% - 24px * 3)/4);
}

.team {
    padding-top: 120px;
    padding-bottom: 120px;
}

.portfolio-item {
    width: calc((100% - 24px * 2)/3);
}

.portfolio-list {
    gap: 48px 24px;
}

.portfolio {
    padding-top: 120px;
    padding-bottom: 120px;
}

.solutions-header {
    padding: 188px 0;
    max-width: 1440px;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/solutions-header-bg.jpg);
}

@media (min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
    .solutions-header {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/solutions-header-bg-2x.jpg);
    }
}

.solutions-title {
    max-width: 496px;
}

.solutions-button {
    margin-top: 48px;
}

.footer {
    padding-top: 100px;
    padding-bottom: 100px;
}

.footer-container {
    display: flex;
    align-items: baseline;
    flex-wrap: nowrap;
    gap: 0px;
}

.footer-first {
    width: 264px;
    height: 112px;
    margin-bottom: 0;
    margin-right: 120px
}

.footer-logo {
    text-align: left;
}

.footer-text {
    width: 264px;
    /* max-width: 288px; */
    /* padding-left: 16px;
    padding-right: 16px; */
}

.social-media {
    width: 208px;
    height: 80px;
}

.footer-social {
    text-align: left;
}

.footer-social-list {
    justify-content: space-between;
}

.subscribe {
    margin-top: 0;
    margin-left: 80px;
    /* display: flex; */
    justify-content: space-between;
}

.subscribe-title {
    text-align: left;
}

.subscribe-form {
    display: flex;
        gap: 24px;
}

.subscribe-input {
    width: 264px;
    margin-bottom: 16px;
    margin-bottom: 0;
}

.modal {
    width: 408px;
    min-height: 584px;
    top: 50%;
    padding: 72px 24px 24px 24px;
}

}